@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif; /* Daha net, düz font */
}

/* Kartların etrafındaki o ince gri çizgi */
.custom-border {
  border: 1px solid #333;
}